@{
    Layout = "~/Views/Shared/_AdminLayout/_AdminLayout.cshtml";
}
@model ChangePassViewModel;
<head>
    <link rel="stylesheet" href="~/css/ChangePassword/ChangePassword.css" asp-append-version="true" />
</head>



<div class="card">
    <input asp-for="email" type="text" placeholder="Email" />
    <input asp-for="currentPassword" type="text" placeholder="Current Password" />
    <input asp-for="newPassword" type="text" placeholder="New Password" />
    <input asp-for="ConfirmPassword" type="text" placeholder="Confirm Password" />
    <button>Change Password</button>
</div>