
.login-container {
    color: white;
    background-color: rgba(255, 255, 255, 0.40);
    padding: 1.2rem 4rem;
    border-radius: 0.50rem;
    max-width: 380px;
    width: 100%;
    text-align: center;
}

.logo {
    width: 170px;
    height: 170px;
    margin-top: -13px;
    margin-bottom: -1rem;
    border-radius: 50%;
    padding: 1rem;
    display: inline-block;
    object-fit: contain;
}


h2 {
    font-weight: 650;
    margin-bottom: 2.5rem;
    color: #32325D;
    line-height: 1.50;
}

.form-control:focus {
    border-color: #0ea5e9;
    box-shadow: 0 0 0 0.25rem rgb(14 165 233 / 0.4);
}

.input-group-text {
    background-color: #e1e7f0;
    border: none;
    color: #2c3e50;
}

.forgot-text {
    color: #32325D;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    user-select: none;
    font-weight: 490;
}



    .forgot-text a {
        color: #0284C7;
        text-decoration: none;
        font-weight: 500;
    }



        .forgot-text a:hover,
        .forgot-text a:focus {
            text-decoration: underline;
        }



.btn-signin {
    background-color: #00A4B5;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 0.45rem;
    padding: 0.625rem;
    border: none;
    color: white;
}



    .btn-signin:hover,
    .btn-signin:focus {
        background-color: #00A4B5;
    }


.bi-envelope-fill {
    color: #ADB5BD;
}

.bi-shield-lock-fill {
    color: #ADB5BD;
}



.validation-summary {
    display: none; /* Hide by default */
    position: relative;
    background-color: #FC7C5F;
    color: white;
    border-radius: 7px;
    padding: 12px 20px 12px 15px;
    font-size: 0.95rem;
    margin-top: 15px;
    animation: fadeIn 0.4s ease-in-out;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    text-align: left;
    bottom: 0;
}

    .validation-summary ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }

    .validation-summary li {
        margin-bottom: 5px;
    }


.close-btn {
    position: absolute;
    top: 8px;
    right: 10px;
    background: none;
    border: none;
    color: #FEDED7;
    font-size: 2rem;
    cursor: pointer;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 575.98px) {
    .login-container {
        width: 330px;
        padding: 1.2rem 3rem;
    }

    .logo {
        width: 150px;
        height: 150px;
    }
}


.text {
    display: block;
    text-align: left;
    position: relative;
    top: 5px;
    font-size: 13px;
}

.SignUp {
    margin-bottom: 30px;
    position: relative;
    top: 20px;
}

    .SignUp a {
        color: #32325D;
    }
