@{
    ViewData["Title"] = "Login Student";
    Layout = "~/Views/Shared/_AccountLayout/_Account.Layout.cshtml";
}
@model LoginViewModel;

<head>
    <link rel="stylesheet" href="~/css/Login/Login.css" asp-append-version="true" />
</head>

<div asp-validation-summary="All" class="validation-summary" role="alert"></div>


  <main class="login-container" role="main" aria-label="Login form for Mindoro State University">
    <img src="/images/MinsuLogo.png" class="logo" />
        <h2 tabindex="0">Mindoro State University</h2>
        <form asp-controller="Account" asp-action="Login" method="post">
            <div class="mb-4">
                <label for="email" class="visually-hidden">Email</label>
                <div class="input-group">
                <span class="input-group-text" id="email-addon" aria-hidden="true"><i class="bi bi-envelope-fill"></i></span>
                    <input asp-for="email" type="email" class="form-control form-control-sm"  placeholder="Email"/>
                </div>
                <span asp-validation-for="email" class="text-danger text"></span>
            </div>
            <div class="mb-4">
                <label for="password" class="visually-hidden">Password</label>
                <div class="input-group">
                <span class="input-group-text" id="password-addon" aria-hidden="true"><i class="bi bi-shield-lock-fill"></i></span>
                <input asp-for="password" type="password" class="form-control form-control-sm" placeholder="Password" />
                </div>
                <span asp-validation-for="email" class="text-danger text"></span>
            </div>
            <p class="forgot-text">Forgot your password? <a href="#" tabindex="0">Recover</a></p>
            <button type="submit" class="btn btn-signin  w-100" aria-label="Sign in to Mindoro State University account">Sign in</button>
            <p class="forgot-text SignUp">Don't have an account? <a asp-action="Register" tabindex="0">Sign up</a></p>
    </form>         
    </main>


